@import 'styles.css';

/* overriding header-footer-socials.css */
.header-footer-socials {
    display: flex !important;
}

section {
    margin: 2rem;
}

/* explanation */
section#businesscard-explanation h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    margin-top: 2rem;
}
section#businesscard-explanation h2 {
    font-weight: 400;
    margin: 0;
}
section#businesscard-explanation pre {
    margin-top: 0;
}

/* grouping container for play button and "terminal"*/
div#output-box {
    margin-top: 2rem;
    display: flex;
    direction: row;
    justify-content: left;
}

/* Play button */
#play-btn {
    flex: 0 1 auto;
    margin-right: 2rem;
    box-sizing: border-box;
    border: 3px solid rgb(160, 160, 160);
    background-color: rgba(160, 160, 160, 0.2);
}
#play-btn svg {
    transition: 1s;
    fill: rgb(160, 160, 160);
}
#play-btn:hover svg {
    fill: white;
}

/* "terminal" output */
div#output {
    flex: 1 1 auto;
    padding: 0.5rem;
    background-color: black;
    color: rgb(215, 215, 215);
    font-size: 0.75rem;
}

section#businesscard-code pre, div#play-btn, div#output {
    box-shadow: 10px 10px 10px black;
}
code {
    font-size: 1rem;
    line-height: 1.5;
}

/* business card, play button output terminal explanation size adjustment */
@media screen and (max-width: 1300px) {
    /* switching flexbox dir so that the content stays at the top! */
    main {
        flex-direction: column;
    }
    section#businesscard-code {
        flex: 0 1 auto;
    }
    section#businesscard-explanation {
        flex: 1 1 auto;
    }
    section {
        margin: 0.75rem;
    }
    section#businesscard-explanation h1 {
        margin-top: 0;
    }
}
@media screen and (max-width: 700px) {
    section#businesscard-code pre {
        padding: 0.25em 1.5em;
	    margin: 0;
        font-family: monospace;
    }
    code {
        font-size: 7.5px;
        line-height: 0;
    }
    section#businesscard-code pre, div#play-btn, div#output {
        box-shadow: 5px 5px 5px black;
    }
    div#output-box {
        margin-top: 1rem;
        height: 4.5rem;
    }
    #play-btn {
        flex: 0 1 auto;
        margin-right: 1rem;
    }
    #play-btn svg {
        width: 4rem;
    }
    div#output {
        font-size: 0.6rem;
    }
    section#businesscard-explanation h1 {
        font-size: 1.3rem;
    }
    section#businesscard-explanation h2 {
        font-size: 1rem;
    }
    section#businesscard-explanation pre {
        padding: 0.25em 1em;
        margin: 0;
    }
}