section#about-me {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section#about-me img#headshot {
    border-radius: 100% / 75%;
    display: block;
    margin: 0 2rem;
    outline: solid rgb(37, 4, 25);
}

#tagline {
    font-size: 2rem;
    max-width: 500px;
}

ul#connect {
    list-style: none;
}
ul#connect li a {
    display: flex;
    align-items: center;
}

ul#connect li a span, ul#connect li a div {
    display: inline-block;
}
ul#connect li a h2 {
    display: inline;
    margin-left: 1rem;
    font-size: 1.5rem;
}
ul#connect li#github a div img {
    width: 37px;
    height: 37px;
    margin-right: 7px;
}

ul#connect li#linkedin a div {
    width: 44px;
    height: 34px;
}

/* Adjusting top bar and other elements based on screen width */
@media screen and (max-width: 1080px) {
    #tagline {
        text-align: center;
    }
    section#about-me ul#connect {
        padding-inline-start: 0;
    }
    section#about-me ul#connect li a {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    section#about-me #tagline {
        font-size: 1.5rem;
    }
    section#about-me ul#connect li a h2 {
        font-size: 1.15rem;
    }
}