body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* Navigation layout
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Split_Navigation
*/
header {
    margin: 0;
    padding: 0;
    background-color: purple;
}

#topnav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

#topnav li {
    display: inline-block;
}

li.push-right {
    margin-right: auto;
}

#topnav #flexible-links {
    background-color: gray;
}

#topnav a {
    padding: 0.25em .75em;
    font-size: 2.25rem;
}

/* Navigation link styling
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
*/
#topnav a:link {
    text-decoration: none;
    color: black;
}
#topnav a:visited {
    color: black;
}

/* Adjusting top bar based on screen width */
@media screen and (max-width: 1050px) {
    #topnav ul {
        justify-content: center;
    }
    #topnav li.push-right {
        margin: 0 auto;
    }
    #topnav #flexible-links {
        width: 100%;
    }
    #topnav #flexible-links a {
        font-size: 1.75rem;
    }
}
@media screen and (max-width: 700px) {
    #topnav span#link-home-bulgarian-name {
        display: none;
    }
}