/*  Dark Theme
*/
.theme-dark {
    background-color: rgb(58, 6, 38);
    color: rgb(160, 160, 160);
}

/* Light Theme
*/


/* Navigation link styling
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
*/
a {
    text-decoration: none;
}
/* a:link {} */
/* a:visited {} */
/* a:focus {} */
a:hover {
    color: white;
}
/* a:active {} */


/* General Styling
*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
Laying out the body, header, and main content using flexboxes based on this tutorial
https://www.w3docs.com/snippets/html/how-to-make-a-div-fill-the-height-of-the-remaining-space.html#example-of-making-a-lt-div-gt-fill-the-remaining-space-with-flexbox-10
*/
body {
    font-family: monospace;
    display: flex;
    flex-flow: column;
}

/* Navigation layout based on
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Split_Navigation
*/
header {
    flex: 0 1 auto;
    margin: 1rem 0 0 0;
    padding: 0;
}

#topnav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

#topnav li {
    display: inline-block;
}

li.push-right {
    margin-right: auto;
}

#topnav a {
    padding: 0.25em .75em;
}
#topnav #name {
    font-size: 2.25rem;
}
#topnav a.menu-option {
    font-size: 1.75rem;
}
#topnav span#name-english {
    font-weight: 700;
}

/* Styling about-me section
*/
main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#about-me {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section#about-me img#headshot {
    border-radius: 100% / 75%;
    display: block;
    margin: 0 2rem;
    /* box-shadow: 0 0 10px 1px white rgb(58, 6, 38); */
    outline: solid rgb(37, 4, 25);
}

#tagline {
    font-size: 2rem;
    max-width: 500px;
}

ul#connect {
    list-style: none;
}
ul#connect li a {
    display: flex;
    align-items: center;
}

ul#connect li a span, ul#connect li a div {
    display: inline-block;
}
ul#connect li a h2 {
    display: inline;
    margin-left: 1rem;
    font-size: 1.5rem;
}

/* 
Making the inside of the GH logo white with a body background was quite tough!
The logo is not perfectly circular, so I couldn't give the image itself
  border-radius 100% with background-color white.
Had to make a div that's sliiiiiightly smaller than the logo instead :)
*/
ul#connect li#github a span div {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
ul#connect li#github a span div img {
    width: 37px;
    height: 37px;
}

ul#connect li#linkedin a div {
    width: 34px;
    height: 34px;
    overflow: visible;
    background-color: white;
    border-radius: 100%;
}

/* Adjusting top bar and other elements based on screen width */
@media screen and (max-width: 1080px) {
    #topnav ul {
        justify-content: center;
    }
    #topnav li.push-right {
        margin: 0 auto;
    }
    #topnav #flexible-links {
        width: 100%;
    }
    #tagline {
        text-align: center;
    }
    section#about-me ul#connect {
        padding-inline-start: 0;
    }
    section#about-me ul#connect li a {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    #topnav span#name-bulgarian {
        display: none;
    }
    section#about-me #tagline {
        font-size: 1.5rem;
    }
    section#about-me ul#connect li a h2 {
        font-size: 1.15rem;
    }
}