.theme-dark {
    background-color: rgb(104, 104, 104);
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
Laying out the body, header, and main content using flexboxes based on this tutorial::after
https://www.w3docs.com/snippets/html/how-to-make-a-div-fill-the-height-of-the-remaining-space.html#example-of-making-a-lt-div-gt-fill-the-remaining-space-with-flexbox-10
*/
body {
    font-family: monospace;
    display: flex;
    flex-flow: column;
}

/* Navigation layout based on
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Split_Navigation
*/
header {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    background-color: purple;
}

#topnav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

#topnav li {
    display: inline-block;
}

li.push-right {
    margin-right: auto;
}

#topnav #flexible-links {
    background-color: gray;
}

#topnav a {
    padding: 0.25em .75em;
    font-size: 2.25rem;
}

#topnav span#name-english {
    font-weight: 700;
}

/* Navigation link styling
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
*/
#topnav a:link {
    text-decoration: none;
    color: black;
}
#topnav a:visited {
    color: black;
}

/* Adjusting top bar based on screen width */
@media screen and (max-width: 1050px) {
    #topnav ul {
        justify-content: center;
    }
    #topnav li.push-right {
        margin: 0 auto;
    }
    #topnav #flexible-links {
        width: 100%;
    }
    #topnav #flexible-links a {
        font-size: 1.75rem;
    }
}
@media screen and (max-width: 700px) {
    #topnav span#name-bulgarian {
        display: none;
    }
}

/* Styling about-me section */
main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#about-me {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section#about-me img#headshot {
    border-radius: 100% / 75%;
    display: block;
    margin: 0 2rem;
}

#tagline {
    font-size: 2rem;
}
#about-me section p {
    font-size: 1rem;
    /* max-width: 75%; */
}

ul#connect {
    list-style: none;
}
ul#connect li {
    display: flex;
    align-items: center;
}

ul#connect li span, ul#connect li div {
    display: inline-block;
}
ul#connect li h2 {
    display: inline;
    margin-left: 1rem;
    font-size: 1.5rem;
}

/* 
Making the inside of the GH logo white with a body background was quite tough!
The logo is not perfectly circular, so I couldn't give the image itself
  border-radius 100% with background-color white.
Had to make a div that's sliiiiiightly smaller than the logo instead :)
*/
ul#connect li#github span div {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
ul#connect li#github span div img {
    width: 37px;
    height: 37px;
}

ul#connect li#linkedin div {
    width: 34px;
    height: 34px;
    overflow: visible;
    background-color: white;
    border-radius: 100%;
}