@import 'styles.css';

/* overriding header-footer-socials.css */
.header-footer-socials {
    display: flex !important;
}

main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#embedded-slides {
    width: 60vw;
    height: 36vw;
    border: none;
}